*.joblib
.venv/
.ipynb_checkpoints
artifacts/
__pycache__/
*.csv
*.pdf

*.gz
*.pbtxt
*.pb
*.sqlite

/proyectos/proyecto-1/constants.py
/proyectos/proyecto-1/transform.py
/proyectos/proyecto-1/pipeline/*
!/proyectos/proyecto-1/pipeline/.gitkeep

dev/
2/logs/*
!2/logs/.gitkeep

2/config/*
!2/config/.gitkeep

2/plugins/*
!2/plugins/.gitkeep

.env

proyectos/proyecto-2/minio/*
2-mlflow/minio/

mlruns/

logs/
config/
plugins/

*.pkl

test-jupyter/